{% extends "base.html" %}
{% block title %}Busqueda por Cliente{% endblock %}
{% block page_content %}
<form method="POST" action="/busqueda/cliente">
    {{ form.csrf_token }}
    {{ form.criterio.label }}</br>{{ form.criterio(size=20) }}
    {% if form.errors %}
    <ul class="errors" style="color: red;" >
        {% for error in form.criterio.errors %}
          <li>{{ error }}</li>
        {% endfor %}        
        </ul>
    {% endif %}
    </br>
    </br>
    <input type="submit" value="Enviar">
</form>
{% endblock %}