{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Bienvenido a la Base de Datos de PharmaDino.</h1>
    <h3>Noticias Nuevas:</h3>
    <ul>Descuento Especial 15% A Todo Cliente:
		<li>PAMI</li>
		<li>OBRAS SOCIALES</li>
		<li>PAMI ONCOLOGICO</li>
		<li>RECETAS MAGISTRALES</li>
		<li>RECETARIO SOLIDARIO</li>
		<li>RECETAS MAGISGRALES</li>
		<li>RECETARIO SOLIDRIO</li>
		<li>POLICIA FEDERAL</li>
		<li>PERFUMERIA</li>
	</ul>
</div>
{% endblock %}
